nav,
header,
main,
footer {   
}


body {
    min-width: 300px;
    background-image: url(../images/background-wavy.jpg);
    background-color: rgb(212, 215, 216);
}

.navbar-brand img {
    height: 30px;
}

.nav-item {
    font-size: 0.9rem;
    text-transform: uppercase;
}

h1, h2, h3 {
    text-transform: uppercase;
    letter-spacing: .02em;
}

.profile-photo img, 
.wireframe-sketch img {
    width: 300px;
    height: auto;
    min-width: 150px;
    max-width: 100%;    
}

#portfolioSlide {
    max-width: 800px;
}

@media only screen and (max-width: 768px) {
    .wireframe-sketch {
        display: none;
    }
}

@media only screen and (min-width: 1300px) {
    .profession, .my-name {
        padding: 0 60px;
    }
}